#!{{ lookPath "sh" }}

export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew

if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew ya está instalado. Saltando instalación."
fi

brew tap rsteube/homebrew-tap