#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew

if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew ya está instalado. Saltando instalación."
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}

{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}

# Mac App Store manager
#mas "Transporter", id: 1450874784
#mas "ColorSlurp", id: 1287239339 
EOF
{{ end -}}
