#!/bin/bash
# Activa los servicios de skhd y sketchybar si están instalados
set -e

if command -v skhd >/dev/null 2>&1; then
  echo "Activando skhd..."
  skhd --start-service
else
  echo "skhd no encontrado, saltando."
fi

if command -v sketchybar >/dev/null 2>&1; then
  echo "Activando sketchybar..."
  sketchybar --config ~/.config/sketchybar/sketchybarrc
  sketchybar --load-font font-hack-nerd-font
else
  echo "sketchybar no encontrado, saltando."
fi
